@{
    ViewBag.Title = "Home Page";
}

<main>
    @{
        ViewBag.Title = "Home Page"; }
    <div class="jumbotron">
        <h1>P.R.M</h1>
        <p class="lead">
            Property Rental Management Web Site (PRM) allows any potential tenant to search an apartment that is suitable for his/her needs. The Web site also helps the property owner and the property manager to facilitate the management tasks of property rental..
        </p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>PRM Property Rental Management Web Site </h2>
            <p>
                <i>SMTI Student-Project Management</i> allows the teacher to assign a project to a student and view all the projects assigned to a student.
            </p>
        </div>
    </div>
</main>